/**
	Header SCSS.
**/

header {

	.navbar-default {
		background-color: #222;
	}
	.navbar { 
		border: none;
		margin-bottom: 0;
		a {
			color: #fff!important;
			&:hover {
				text-decoration: underline!important;
				color: #458B00!important;
			}
		}
		.navbar-brand {
			font-weight: bold;
			&:hover{
				text-decoration: none!important;
			}
		}
	}
}