/**
	Header SCSS.
**/

header {
	background-color: #000;
	opacity: 0.75;
	z-index: 10;

	.navbar-default {
		background-color: #000;
		opacity: 0.75;
	}
	.navbar { 
		border: none;
		margin-bottom: 0;
	}

}