html {
	height: 100%;
}
body {
	height: 100%;
}
section.main {
	background-color: #fff;
}
section.video {
	height: 100%;
	background-color: #999;

	video {
		position: absolute; 
		right: 0; 
		bottom: 0;
		min-width: 100%; 
		min-height: 100%;
		width: auto; 
		height: auto; 
		z-index: 0;
		background-size: cover;
	}
}